* {
    padding: 10px;
}

body {
    background-color: black;
}

h1, h2 {
    color: gold;
}

p {
    color: black;
}

.container {
    background-color: darkgray;
    border: 3px solid gold;
    border-radius: 5px;
}

.footer-text {
    color: gold;
}
